* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    "Segoe UI",
    system-ui,
    -apple-system,
    "Microsoft YaHei",
    sans-serif;
  background: var(--pd-bg);
  color: var(--pd-text);
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--pd-border);
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
